.carousel-testimonial-img {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  position: relative;
}

.testimonials-captions {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 900px) {
  .testimonials-caption-container {
    margin: 0 auto;
  }
  .testimonials-captions {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    padding-bottom: 10px;
    p {
      font-size: 13px;
    }
    h4 {
      font-size: 16px;
    }
  }
  .carousel-testimonial-img {
    width: 100%;
    margin: 0 auto;
    height: 230px;
  }
}
